@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

body {
  margin: 0;
  background-color: lightgray;
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
